@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.5/css/ionicons.min.css');
@import url('react-loading-skeleton/dist/skeleton.css');

html {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html *,
*:after,
*:before {
  box-sizing: inherit;
}

body,
main {
  height: 100% !important;
  width: 100% !important;
  padding: 0;
  margin: 0;
}
